body {
  font-family: "Montserrat";
  background-color: rgb(255, 160, 0);
}

form {
  max-width: 550px;
}

form div {
  font-size: 1rem;
}

#btn-enviar {
  background-color: rgb(255, 160, 0);
  color: white;
  max-width: 200px;
}

#btn-enviar:hover {
  background-color: rgba(255, 160, 0, 0.8);
}

input {
  border: 1px solid black;
}
