body {
  font-family: "Montserrat";
  background-color: rgb(255, 160, 0);
}

form {
  padding: 2rem 3.5rem;
}

#btn-enviar {
  background-color: rgb(255, 160, 0);
  color: white;
  width: 40%;
}

#btn-enviar:hover {
  background-color: rgba(255, 160, 0, 0.8);
}

input {
  border: 1px solid black;
}
